
    <%- include('partials/header') %>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Author API</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <%- include('partials/navbar') %>
              </div>
            </div>
          </nav>
          <%if(message.length > 0){%>
            <div class="alert alert-success alert-dismissible" role="alert"><%=message %></div>
          <%}%>
          <div class="d-flex justify-content-center align-items-center vh-100">
            <form action="/api/authors/image" method="post" enctype="multipart/form-data"  class="container justify-content-center">
                <p class="display-2"> Submit Image </p>

                
                <div class="form-group">
                  <label for="authorid" class="form-label mt-4">Author ID</label>
                  <input name="authorID" required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="authorID" placeholder="Please enter the Author ID">
                  <small id="emailHelp" class="form-text text-muted">You can obtain a specifics author I.</small>
                </div>
                
                
                <div class="form-group">
                  <label for="formFile" class="form-label mt-4">Image Upload</label>
                  <input name="image" required class="form-control" type="file" id="formFile">
                </div>
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </form>
            
          </div>
          <script
          src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
          integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
          crossorigin="anonymous"
        ></script>
      
    </body>
    </html>
        
    
    
    