
    <%- include('partials/header') %>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Author API</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/submit"> Add Author </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/submitimage">Submit Image</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/authors">All Authors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/docs">API Docs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     
      <div class="container d-flex justify-content-center align-items-center vh-100">
        
        <form action="/api/authors" method="post" enctype="multipart/form-data" class="container justify-content-center ">
            <p class="display-2"> Add Author </p>
            
  
            <div class="form-group">
              <label for="authorid" class="form-label mt-4">First Name</label>
              <input required type="text" class="form-control" name="firstName"  aria-describedby="firstname" placeholder="Please enter the Author's first name">
            </div>
            <div class="form-group">
              <label for="authorid" class="form-label mt-4">Last Name</label>
              <input required type="text" class="form-control" name="lastName"  aria-describedby="lastname" placeholder="Please enter the Author's last name">
            </div>
            <div class="form-group">
              <label for="authorid" class="form-label mt-4">Date of Birth</label>
              <input required type="date" name="born" class="datepicker" id="exampleInputEmail1" aria-describedby="datofbirth" placeholder="Please enter the author's date of birth">
            </div>
            
            
            <div class="form-group">
              <label for="formFile" class="form-label mt-4">Image Upload</label>
              <input required class="form-control" name="image" type="file" id="formFile">
            </div>
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
            
        </form>
  
  

      </div>
    


















      <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
  
</body>
</html>